
<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#/">Logo</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a data-toggle="modal" data-target="#myModalLogin">LOGIN</a></li>
		        <li><a data-toggle="modal" data-target="#myModalRegister">REGISTER</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
	<div class="jumbotron text-center" style="background-color: rgb(67, 205, 128)">
		<div class="container">
		<h1>9FINDER</h1>
			<i>Find the best places to eat, drink, shop, or visit in Ho Chi Minh City</i>
			<form class="form-inline">
			<input type="text" class="form-control" size="50" placeholder="I'm looking for..." required list="itemList">
      <datalist id="itemList">
        <option value="Top picks">
        <option value="Trending">
        <option value="Food">
        <option value="Coffee">
        <option value="Nightlife">
        <option value="Fun">
        <option value="Shopping">
        <option value="Breakfast">
    </datalist>
			<input type="text" class="form-control" size="30" value="Ho Chi Minh City" ="I'm looking for..." required>
			<button type="button" class="btn btn-danger" ng-click="search()">
		      <span class="glyphicon glyphicon-search"></span> Search
		    </button>
			<div class="row listfind" style="margin: 30px;">
			    <a href="#" class="btn btn-info btn-lg">
			      <span class="glyphicon glyphicon-cutlery"></span> Food
			    </a>
			    <a href="#" class="btn btn-info btn-lg">
			      <span class="glyphicon glyphicon-tint"></span> Coffee
			    </a>
			    <a href="#" class="btn btn-info btn-lg">
			      <span class="glyphicon glyphicon-glass"></span> Nightlife
			    </a>
			    <a href="#" class="btn btn-info btn-lg">
			      <span class="glyphicon glyphicon-apple"></span> Fun
			    </a>
			    <a href="#" class="btn btn-info btn-lg">
			      <span class="glyphicon glyphicon-shopping-cart"></span> Shopping
			    </a>
		    </div>
		</form>
		</div>
	</div>

  <!-- Modal Login -->
  <div class="modal fade" id="myModalLogin" role="dialog" style="margin-top: 50px;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="panel panel-main">
				<div class="panel-heading">
					<h4 class="text-center" style="color: red;">LOGIN</h4>
				</div>
				
				<div class="panel-body">
					<form id="form-login" action="" method="POST" role="form">
					
						<div class="form-group">
							<label for="username">Username: </label>
							<input type="text" class="form-control" id="username" placeholder="type your username">
						</div>
						
						<div class="form-group">
							<label for="password">Password: </label>
							<input type="password" class="form-control" id="password" placeholder="type your password">
						</div>
						
						<div class="row">
							<div class="col-md-8">
								<button type="button" id="submit" class="btn btn-primary btn-block" ng-click="login()">Submit</button>
							</div>
							<div class="col-md-4">
								<a href="#" class="btn btn-link">Forgot your password!</a>
							</div>
						</div>
						
					</form>
				</div>
			</div>
		</div>
      </div>
    </div>
  </div>


	
  <!-- Modal Register -->
  <div class="modal fade" id="myModalRegister" role="dialog" style="margin-top: 50px;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="panel panel-main">
					<div class="panel-heading">
						<h4 class="text-center" style="color: red;">REGISTER</h4>
					</div>
					
					<div class="panel-body">
						<form id="form-login" action="" method="POST" role="form">
						
							<div class="form-group">
								<label for="username">Username: </label>
								<input type="text" class="form-control" id="register_username" placeholder="type your username">
							</div>
							
							<div class="form-group">
								<label for="password">Password: </label>
								<input type="password" class="form-control" id="register_password" placeholder="type your password">
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-md-6"> 
										<label for="firstname">First Name* </label>
										<input type="text" class="form-control" id="firstname" placeholder="type your first name">
									</div>
									<div class="col-md-6"> 
										<label for="lastname">Last Name </label>
										<input type="text" class="form-control" id="lastname" placeholder="type your last name">
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="firstname">Gender* </label>
								<br>
							    <label class="radio-inline">
							      <input type="radio" checked="true" name="optradio">Female
							    </label>
							    <label class="radio-inline">
							      <input type="radio" name="optradio">Male
							    </label>									
							</div>
							
							<button type="button" id="submit" ng-click="register()" class="btn btn-danger btn-block">Sign Up</button>	
						</form>
					</div>
				</div>
		</div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
 

  </script>