<nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-md-offset-3">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/">9Finder</a>
			</div>
			<div class="col-md-2 col-md-offset-3">
				<!-- đã login -->
		   		<div ng-if="account">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle btn-block" type="button" id="menu1" data-toggle="dropdown">
								{{account.username}}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="#">User profile</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="logout()">Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- chưa login -->
				<div ng-if = "!account">
				    <div class="collapse navbar-collapse" id="myNavbar">
				      <ul class="nav navbar-nav navbar-right">
				        <li><a data-toggle="modal" data-target="#myModalLogin">LOGIN</a></li>
				        <li><a data-toggle="modal" data-target="#myModalRegister">REGISTER</a></li>
				      </ul>
				    </div>
			   	</div>

			</div>
		</div>
	</div>
</nav>

<div class="jumbotron text-center" style="background-color: rgb(67, 205, 128)">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2" style="text-align: left;">
				<h3>Settings</h3>
				<h3>Your profile</h3>
				<div class="row">
					<div class="col-md-2"><label>Profile Photo</label></div>
					<div class="col-md-10" style="border: solid 1px;">
						<div style="height:100px; width:100px; background-color:white;"></div>
						<input type="file">
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-2"><label>Name</label></div>
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-6"><input class="btn-block" type="text" placeholder="Firstname"></div>
							<div class="col-md-6"><input class="btn-block" type="text" placeholder="Lastname"></div>
						</div>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-2">Phone number</div>
					<div class="col-md-10"><input type="text" class="btn-block"></div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-2">Email</div>
					<div class="col-md-10"><input type="text" class="btn-block"></div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-2">Biography</div>
					<div class="col-md-10"><input type="text" class="btn-block"></div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-2">Location</div>
					<div class="col-md-10"><input type="text" class="btn-block"></div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-2">Gender</div>
					<div class="col-md-10"><input type="text" class="btn-block"></div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-2">Vegetarian</div>
					<div class="col-md-10"><input type="text" class="btn-block"></div>
				</div>
				<br/>
				<button type="button" class="btn btn-default">Seve Changes</button>
			</div>
		</div>
	</div>
</div>
